<div class="container">
	<div class="row">
		<h1> Blog Post </h1>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<h4> Keywords </h4>
			<p>
				Parsed JSON Response
			</p>
			<div>
				<%= @blogKeywords %>
			</div>
			<h3> Extracted Keywords </h3>
				<% @blogKeywords.each do | keyword | %>
					<div>
					<h5><small>Keyword: </small>	<%= keyword["text"] %> </h5>
					<h5><small>Relevance: </small><%= keyword["relevance"] %></h5>
					</div>
				<% end %>
			
		</div>
  	<div class="col-md-8">
  		<%= link_to "EDIT", edit_article_path( @article ) %>
      <p>Title: <%= @article.title.titleize %></p> <br>
      <p>Author: <%= @article.author %></p> <br>
      <p>Description: <%=  @article.description %></p>
  	</div>
  </div>
</div>